<!DOCTYPE html>
<html lang="en">
<head>
	<title>Create User</title>
	<meta name="description" charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/wineaux">Home</a></li>
			<li><a href="wineaux/vault">Vault</a></li>
		</ul>
	</nav>
	<div class="container">
		<header>
			<h1>Sign up</h1>
		</header>
		<main>
			<div>
				<form name="createform" id="createform"> 
					<label>First Name:</label>
			        <input type="text" id="name">
			        <label>Last Name:</label>
			        <input type="text" id="lastName">
			        <button>Sign Up!</button>
				</form>
			</div>
		</main>
	</div>
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../js/client.js"></script>
</body>
</html>