<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wineaux User Vault</title>
	<meta name="description" content="Wineaux" charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/wineaux">Home</a></li>
			<li><a href="wineaux/vault">Vault</a></li>
		</ul>
	</nav>
	<div class="container">
		<header>
			<h1>Vault</h1>
		</header>
		<main>
			<h2>Search for a wine to add it to your vault and add tasting notes</h2>
			<form>
				<label for="search">Search</label>
				<input type="text" name="search" id="search">
			</form>
			<ul class="js-search-results"></ul>
			<h3>Wines and tasting notes</h3>
			<ul class="js-vault-results"></ul>
		</main>
	</div>
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../js/client.js"></script>
</body>
</html>