<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wineaux User Vault</title>
	<meta name="description" content="Wineaux" charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="http://localhost:8080/">Home</a></li>
			<li><a href="http://localhost:8080/vault">Vault</a></li>
		</ul>
	</nav>
	<div class="container">
		<header>
			<h1>Vault</h1>
		</header>
		<main>
			<section>
				<h2>Caymus Napa Valley Cabernet Sauvignon 2014</h2>
				<img src="" alt="">
					<ul class="js-wine">
						<li>Varietal:  Cabernet Sauvignon</li>
						<li>Vineyard:  Caymus</li>
						<li>Vintage:  2014</li>
					</ul>
			</section>
			<div class="js-search-results"></div>
		</main>
	</div>
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="./controller.js"></script>
	<script type="text/javascript" src="../js/client.js"></script>
</body>
</html>